/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Circular, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: white;
}

/*Override*/
.navbar-inverse, .navbar-collapse {
    background-color: #191414;
    border-color: transparent !important;
}

table {
    table-layout: fixed;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#desktopResultsContainer {
    background-color: transparent;
}

.unpad {
    padding: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*Fonts*/
@font-face {
    font-family: Circular;
    src: url('/fonts/c-light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Circular;
    src: url('/fonts/c-book.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Circular;
    src: url('/fonts/c-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Circular;
    src: url('/fonts/c-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Circular;
    src: url('/fonts/c-black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

.spotty-background {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    position: fixed;
    will-change: transform;
    opacity: 1;
    -webkit-transition: opacity .25s;
    transition: opacity .25s;
    background-image: linear-gradient(to right bottom, rgb(56, 67, 98), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
    z-index: -500;
}

.spotty-title {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: -0.04em;
    line-height: 1.15;
}

    .spotty-title:hover, spotty-title:focus {
        color: #1DB954;
    }

.spotty-button {
    width: 10em;
    display: inline-block;
    border-radius: 30px;
    border-color: white;
    padding-top: 5px;
    background-color: transparent;
}

    .spotty-button:active,
    .spotty-button:active:focus,
    .spotty-button:hover,
    .spotty-button:focus {
        color: white;
        font-weight: bold;
        outline: 0;
    }

.artist-name {
    margin-top: -12px;
    font-size: smaller;
    color: #a5a5a5;
    margin-bottom: 0;
}

.playlist-section h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: -0.02em;
    line-height: 1.2;
}

.song-name {
    overflow: hidden;
    white-space: nowrap;
    font-size: medium;
    text-overflow: ellipsis;
}

.song-mobile {
    padding: 5px 15px;
}

.playlist-separator {
    margin-top: 0;
    margin-bottom: 8px;
    width: 64%;
    float: left;
}

.non-library-song.song-mobile {
    border-right: 9px solid #a5a5a5;
}

tr.non-library-song,
tr.non-library-song:hover,
tr.non-library-song:focus,
tr.non-library-song:active {
    background-image: linear-gradient(135deg, #a5a5a5, #a5a5a5 10px, transparent 10px, transparent);
}

.song:hover,
.song:focus,
.song:active {
    background: rgba(29, 185, 84, 0.6);
    cursor: pointer;
}

.playlist-filter-row {
    padding: 5px 5px 5px 10px;
}

    .playlist-filter-row:hover,
    .playlist-filter-row:focus,
    .playlist-filter-row:active {
        background: rgba(29, 185, 84, 0.6);
        cursor: pointer;
    }

.playlist-filter-row-selected {
    background: rgba(29, 185, 84, 0.6);
}

.session-text {
    font-size: 17px;
}

/* Equal column heights within bootstrap row */
.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.refresh-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.refresh-icon:hover,
.refresh-icon:focus,
.refresh-icon:active {
    cursor: pointer;
}

.filter-modal {
    background-color: #282828;
}