<div id="loader" class="overlay hidden">
    <div class="overlay__inner">
        <div class="overlay__content">
            <span class="spinner"></span>
        </div>
        <div class="overlay__content">
            <div class="lds-hourglass"></div>
        </div>
    </div>
</div>