@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>My name is Phil Wong and I love music</h3>

<address>
    <strong>Support:</strong> <a href="mailto:phil.where@outlook.com">phil.where@outlook.com</a><br />
</address>
