@model List<Spotify.Models.PlaylistItem>

@{
    ViewData["Title"] = "PlaylistSearch";
}

<h2>Playlist Search</h2>

<div>
    <h4>Farts</h4> 
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input id="searchbar" type="text" class="form-control" aria-label="...">
                <div class="input-group-btn">
                    <button id="selectedSearchOption" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All <span class="caret"></span></button>
                    <ul id="searchOptions" class="dropdown-menu dropdown-menu-right">
                        <li><a href="#">All</a></li>
                        <li id="searchGo"><a href="#">Song</a></li>
                        <li id="searchArtist"><a href="#">Artist</a></li>
                    </ul>
                </div><!-- /btn-group -->
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div>
    <hr />
    <div id="tablePanel" class="panel panel-default hidden">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Playlist</th>
                    <th>Artist</th>
                    <th>Track</th>
                </tr>
            </thead>
            <tbody id="tableBody"></tbody>
        </table>
    </div>
</div>
<div>
</div>


@section scripts {
    <script>
        var Playlists = @Html.Raw(Json.Serialize(Model));
    </script>
    <script src="~/js/search/playlistSearch.js"></script>
}