@using Microsoft.Extensions.Primitives;
@using Spotify.Models.Responses;
@model List<PlaylistItem>

@{
    ViewData["Title"] = "Playlist Search";
}
<h2>Playlist Search</h2>

<div>
    <div class="row">
        <div id="clockdiv" class="col-xs-6">
            <h4>Session: <span class="minutes"></span>:<span class="seconds"></span></h4>
        </div>
        @if (!StringValues.IsNullOrEmpty(Context.Request.Query["refresh_token"]))
        {
            <div class="col-xs-6 text-right ">
                <div id="refreshButton" class="btn btn-default">Refresh</div>
            </div>
        }
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input id="searchbar" type="text" class="form-control" aria-label="...">
                <div class="input-group-btn">
                    <button id="selectedSearchOption" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All <span class="caret"></span></button>
                    <ul id="searchOptions" class="dropdown-menu dropdown-menu-right">
                        <li><a href="#">All</a></li>
                        <li id="searchGo"><a href="#">Song</a></li>
                        <li id="searchArtist"><a href="#">Artist</a></li>
                    </ul>
                </div><!-- /btn-group -->
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div>
    <hr />
    <div id="tablePanel" class="panel panel-default hidden">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Playlist</th>
                    <th>Artist</th>
                    <th>Track</th>
                </tr>
            </thead>
            <tbody id="tableBody"></tbody>
        </table>
    </div>
</div>
<div>
</div>


@section scripts {
    <script>
        var Playlists = @Html.Raw(Json.Serialize(Model));
    </script>

    <environment include="Development">
        <script src="~/js/countdown.js" asp-append-version=true></script>
        <script src="~/js/playlistSearch.js" asp-append-version=true></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/playlistSearch.min.js" asp-append-version=true></script>
    </environment>
}
