@using Spotify.Models.Responses;
@model List<PlaylistItem>

@{
    ViewData["Title"] = "Playlist Search";
}
<h2 id="secretViewSwitch" class="spotty-title">Playlist Search</h2>

<div>
    <div class="row equal">
        <div class="col-xs-6">
            <h4 id="lastRefresh" class="session-text">Refreshed</h4>
        </div>
        <div class="col-xs-6 refresh-button-container">
            <div id="refreshDataButton" class="btn spotty-button">Refresh Data</div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input id="searchBar" type="text" class="form-control" aria-label="...">
                <div class="input-group-btn">
                    <button id="selectedSearchOption" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All <span class="caret"></span></button>
                    <ul id="searchOptions" class="dropdown-menu dropdown-menu-right">
                        <li><a href="#">All</a></li>
                        <li><a href="#">Songs</a></li>
                        <li><a href="#">Artists</a></li>
                        <li><a href="#">Albums</a></li>
                    </ul>
                </div><!-- /btn-group -->
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div>

    <div id="mobileResultsContainer">
    </div>
    
    <div id="desktopResultsContainer" class="panel panel-default media hidden">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 25%;" class="text-center">Playlist</th>
                        <th style="width: 35%;">Artist</th>
                        <th style="width: 40%;">Track</th>
                    </tr>
                </thead>
                <tbody id="tableBody"></tbody>
            </table>
        </div>
</div>
<div>
</div>


@section scripts {
    <script>
        var GlobalPlaylists = @Html.Raw(Json.Serialize(Model));
        var GlobalDataLastRequestedDate = new Date(@ViewBag.DataRequestedDate);
    </script>

    <environment include="Development">
        <script src="~/js/countdown.js" asp-append-version=true></script>
        <script src="~/js/playlistSearch.js" asp-append-version=true></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/playlistSearch.min.js" asp-append-version=true></script>
    </environment>
}
